$primaryFont: 'Raleway', 'Verdana', 'Arial', sans-serif;
$secondaryFont: 'Six Caps', sans-serif;
$pink: #e8408a;
$darkPink: #a40062;
$black: #111;
$white: #fff;
$green: #32a287;
$grey: #fafafa;
$darkGreen: #3e5641;
$orange: #ea7317;
$yellow: #fec601;
$red: #4c061d;
$gold: #bf9b30;
$lime: #9dff09;
