.ur-frontend-form {
    padding: 0 !important;
    background-color: $white !important;
    .ur-form-row {
        flex-wrap: wrap;
        margin-left: -10px;
        margin-right: -10px;
        @include set-breakpoint(lg, down) {
            flex-direction: column;
        }
        .ur-form-grid {
            @include set-breakpoint(lg, down) {
                width: 100% !important;
            }
        }
    }
    .ur-frontend-field  {
        border: 3px solid $black !important;
        border-radius: 0.25rem !important;
        &::placeholder {
            color: rgba($black, 0.7) !important;
        }
    }
    .ur-label {
        font-weight: 400 !important;
        color: $black !important;
    }
    .ur-submit-button {
        margin-right: -10px !important;
    }
    &.ur-frontend-form--flat form .ur-form-row .ur-form-grid label {
        color: $black !important;
    }
}